torch                      
matplotlib                     
gymnasium                       
gymnasium[classic-control]
gymnasium[other]
jupyterlab                      
moviepy                        
opencv-python                   
ale_py                        
scikit-image
pickledb