torch                           == 2.2.0
matplotlib                      == 3.5.1
gymnasium                       == 0.28.1
gymnasium[classic-control]
gymnasium[other]
jupyterlab                      == 3.6.7
moviepy                         == 1.0.3
opencv-python                   == 4.11.0.86
ale_py                          == 0.10.2